
 <div class="container">
<h1 class="judul text-center">There are no vacancy available</h1>


<h2></h2>
<p>
  There are currently no vacancies available.

However, we are always keen to meet energetic and talented professionals who would like to join our team.

If you wish to be considered for any future positions, please send your CV and covering letter to :

hrd@barminpacific.com
</p>
<%= image_tag 'https://ideazfirst.com/wp-content/uploads/2016/07/career.jpg' %>

</div>