<% if false %>

<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<% end %>







	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">The best place to tell people why they are here</h2>
		<p class="text-muted">
      We sit at the heart of global trading flows, moving product and bulk materials from source to customer as quickly, responsibly and cost-effectively as possible. Our business is founded on the long-term relationships we’ve built with our customers, on our expertise, market understanding and reputation for reliably delivering the required products, on time and on specification.
		</p>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Our Expertise</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-tasks fa-5"></i>Solve problem</h4></div>
					<div class="h-body text-center">
						<p>Every day we use our expertise and logistical networks to distribute new product around the world, efficiently and responsibly. Founded in Rotterdam in 1966, today the company has some 40 offices worldwide and trades over seven million unit of products a day</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heartbeat fa-5"></i>Approach</h4></div>
					<div class="h-body text-center">
						<p>With an industrial presence in 18 countries, we are the leader in all major global markets including automotive, construction, household appliances and packaging, with leading research and development and technology, sizeable captive supplies of raw materials, and outstanding distribution networks. </p>
					</div>
				</div>
				
				
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa  fa-smile-o fa-5"></i>Bring Happiness</h4></div>
					<div class="h-body text-center">
						<p>We're in the business of spreading smiles and opening happiness every day all across the world. Share your moments with us. </p>
					</div>
				</div>
				
				
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-globe fa-5"></i>Global opportunity</h4></div>
					<div class="h-body text-center">
						<p>We aim to give our people every chance to flourish in their career and grow as part of a global company. Barmin University is an invaluable, company-wide resource allowing our people to gain new skills and enhance their careers. </p>
					</div>
				</div>
				
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Frequently Asked Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Which code editor would you recommend?</h3>
				<p>I'd highly recommend you <a href="http://www.sublimetext.com/">Sublime Text</a> - a free to try text editor which I'm using daily. Awesome tool!</p>
			</div>
			<div class="col-sm-6">
				<h3>Nice header. Where do I find more images like that one?</h3>
				<p>
					Well, there are thousands of stock art galleries, but personally, 
					I prefer to use photos from these sites: <a href="http://unsplash.com">Unsplash.com</a> 
					and <a href="http://www.flickr.com/creativecommons/by-2.0/tags/">Flickr - Creative Commons</a></p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Can I use it to build a site for my client?</h3>
				<p>
					Yes, you can. You may use this template for any purpose, just don't forget about the <a href="http://creativecommons.org/licenses/by/3.0/">license</a>, 
					which says: "You must give appropriate credit", i.e. you must provide the name of the creator and a link to the original template in your work. 
				</p>
			</div>
			<div class="col-sm-6">
				<h3>Can you customize this template for me?</h3>
				<p>Yes, I can. Please drop me a line to sergey-at-pozhilov.com and describe your needs in details. Please note, my services are not cheap.</p>
			</div>
		</div> <!-- /row -->

		<div class="jumbotron top-space">
			<h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
     		<p class="text-right"><a class="btn btn-primary btn-large">Learn more »</a></p>
  		</div>

</div>	<!-- /container -->

