<% provide(:title, "Investor") %>

 <div class="container">
<h1 class="judul text-center">Investor</h1>


<h2></h2>
<p>
  Here you can download annual, financial and environmental reports of our parent company Barmin Pacific Ltd.
</p>
<%= image_tag 'https://www.kurita.eu/assets/images/f/Library_Reports-43e0162f.jpg' %>

</div>