<% provide(:title, "About") %>

 <div class="container">
<h1 class="judul text-center">About Us</h1>

<h2 class="judul">Company Highlights</h2>
<p class="text-justify">
Our history begins in 1866, with the foundation of the Barmin Company. Mr. Robert Barmin develops a breakthrough infant food in 1867, and in 1905 the company he founded merges with USA company, to form what is now known as the Rich Group. During this period cities grow and railways and steamships bring down commodity costs, spurring international trade in consumer goods.
</p>
<%= image_tag 'http://per-concept.com/Rich_Template/images/resource/5.jpg' %>

<h2 class="judul">In 1990 We started as a small business</h2>
<p>
Our brothers helped establish this consulting Company. The issue was to augment long-term resources and working capital and to enhance the leverage ability of the company. In the span of 20 years the company had fortified their presence in the market on account of their focused business segment a wide geographical an effective credit monitoring and appraisal system which has resulted in high growth in business During the year 2003-04 the company increased the windmills capacity from 4450 kwh to 8650 kwh for producing electricity.
</p>


<h2 class="judul">In 1992 We got first recognition</h2>
<p>
  Our brothers helped establish this consulting Company. The issue was to augment long-term resources and working capital and to enhance the leverage ability of the company. In the span of 20 years the company had fortified their presence in the market on account of their focused business segment a wide geographical an effective credit monitoring and appraisal system which has resulted in high growth in business During the year 2003-04 the company increased the windmills capacity from 4450 kwh to 8650 kwh for producing electricity.
</p>
<%= image_tag 'http://per-concept.com/Rich_Template/images/resource/6.jpg' %>


<h2 class="judul">In 2000 we got first Award</h2>
<p>
  Our brothers helped establish this consulting Company. The issue was to augment long-term resources and working capital and to enhance the leverage ability of the company. In the span of 20 years the company had fortified their presence in the market on account of their focused business segment a wide geographical an effective credit monitoring and appraisal system which has resulted in high growth in business During the year 2003-04 the company increased the windmills capacity from 4450 kwh to 8650 kwh for producing electricity.
</p>
<%= image_tag 'http://per-concept.com/Rich_Template/images/resource/7.jpg' %>


<h2></h2>
<p>
  
</p>
<%= image_tag '' %>

</div>