<% provide(:title, "Help") %>
<h1 class="judul text-center">SOCIAL RESPONSIBILITY</h1>

<div class="container">
  
<%= image_tag 'http://www.arystalifesciencepk.com/datafiles/page_images/93d11dc7c666f8acacf5fe7649a341c9.jpg' %>
<p class="text-justify">


Our social responsibility practices are engraved in our 100+ year history. We believe that building a strong society is key to the growth of our business and the sustainable development of the regions where we operate. Because of this, we seek to add value in every community where we operate.

Gerdau Institute

The Gerdau Institute is responsible for our company's social responsibility policies and guidelines and for promoting social responsibility activities aligned with its business activities. Over the past few years, the Gerdau Institute has standardized and internationalized its practices by applying management methodologies to social projects' planning, implementation and monitoring in order to achieve better results. 

Gerdau Institute's Scope 

The Institute coordinates social responsibility programs within communities, business chain and strategic partners where our company operates through organized volunteering work as an agent for sustainable development.
</p>


</div>