	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">EXCELLENCE, PASSION, CUSTOMER, PARTNERS</h1>
				<p class="tagline">Pursuing EXCELLENCE with SIMPLICITY</a></p>
				<p><a class="btn btn-default btn-lg" role="button">Bring to the world a portfolio of quality product that anticipate and satisfy people's desires and needs</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->